os: osx
osx_image: xcode9.2
language: swift
before_install:
- pod repo update > /dev/null
script:
- set -o pipefail
- xcodebuild test -workspace CoreNavigation.xcworkspace -scheme CoreNavigationExample -destination 'platform=iOS Simulator,name=iPhone 8,OS=11.2' ONLY_ACTIVE_ARCH=NO | xcpretty -c
- pod lib lint